<section id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="column sm-6">
                <img src="{{ asset('public/img/my-photo.jpg') }}" class="wow bounceInUp"  alt="Ольга Фандикова front-end developer">
            </div>
            <div class="column md-6">
                <h2 class="heading wow tada">Обо мне</h2>
                <div>
                    <h3 class="subheading wow fadeIn"><strong class="uppercase">Ольга Фандикова</strong> - front-end разработчик</h3>
                </div>
                <p class="text-about">24 года. Инженер по образованию, закончила Томский политехнический университет.
                    Начала увлекаться веб-разработкой с 2015 года. Стараюсь быть в тренде новых веб-тенденций,
                    изучать новые технологии. Могу создавать сайты, приложения, лэндинги без нарисованного дизайна.</p>
                <p class="text-about">Играю на фортепиано, люблю петь, заимаюсь различными видами рукоделия.
                    Усидчива и аккуратна в работе, обладаю чувством вкуса.</p>
                <img class="dark-logo" src="{{ asset('public/img/dark-logo.svg') }}" alt="">
                <button class="button icon-button mt-30 wow bounceIn">
                    <span class="icon-block"><i class="icon-download"></i></span>
                    Скачать резюме
                </button>
            </div>
        </div>
    </div>
</section>