<section class="section">
    <div class="container">
        <div class="row">
            <div class="column sm-6">

            </div>
            <div class="column md-6">
                <h2 class="heading wow tada">Обо мне</h2>
                <div>
                    <h3 class="subheading wow fadeIn"><strong class="uppercase">Ольга Фандикова</strong> - front-end разработчик</h3>
                </div>
                <p class="text-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                    architecto blanditiis consequuntur, dignissimos distinctio dolor eos excepturi in incidunt
                    iusto nesciunt officia provident quae, qui quo repudiandae tenetur. Beatae consequatur eius
                    fugit illo magnam officia quaerat quis quos sapiente voluptatum.</p>
                <p class="text-about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi impedit
                    nihil perferendis provident, quas quasi qui quibusdam repellat ut voluptas.</p>
                <button class="button icon-button mt-30 wow bounceIn">
                    <span class="icon-block"><i class="icon-download"></i></span>
                    Скачать резюме
                </button>
            </div>
        </div>
    </div>
</section>