<section id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="column sm-6">
                <img src="{{ asset('public/img/my-photo.jpg') }}" class="wow bounceInUp" alt="{% trans %}name{% endtrans %} {% trans %}job{% endtrans %}">
            </div>
            <div class="column md-6">
                <h2 class="heading wow tada">{% trans %}about{% endtrans %}</h2>
                <div>
                    <h3 class="subheading wow fadeIn">
                        <strong class="uppercase">{% trans %}name{% endtrans %}</strong> - {% trans %}job{% endtrans %}
                    </h3>
                </div>
                <p class="text-about">{% trans %}about.p1{% endtrans %}</p>
                <p class="text-about">{% trans %}about.p2{% endtrans %}</p>
                <div class="mt-60">
                    <img class="dark-logo wow fadeIn" src="{{ asset('public/img/dark-logo.svg') }}" alt="{% trans %}name{% endtrans %} {% trans %}job{% endtrans %}">
                </div>
                <a class="button icon-button mt-30 wow bounceIn" href="{{ asset('files/Olga-Fandikova-front-end-developer.pdf') }}" target="_blank">
                    <span class="icon-block"><i class="icon-download"></i></span>
                    {% trans %}download_resume{% endtrans %}
                </a>
            </div>
        </div>
    </div>
</section>