<section id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="column sm-6">
                <img src="{{ asset('public/img/my-photo.jpg') }}" class="wow bounceInUp" alt="Ольга Фандикова фронт-энд разработчик">
            </div>
            <div class="column md-6">
                <h2 class="heading wow tada">Обо мне</h2>
                <div>
                    <h3 class="subheading wow fadeIn"><strong class="uppercase">Ольга Фандикова</strong> - фронт-энд разработчик</h3>
                </div>
                <p class="text-about">26 лет. Инженер по образованию, закончила Томский политехнический университет.
                    Начала увлекаться веб-разработкой с 2015 года. Стараюсь быть в тренде новых веб-тенденций,
                    изучать новые технологии. Могу создавать сайты, приложения, лэндинги без нарисованного дизайна.</p>
                <p class="text-about">Играю на фортепиано, люблю петь, занимаюсь различными видами рукоделия.
                    Усидчива и аккуратна в работе, обладаю чувством вкуса.</p>
                <div class="mt-50">
                    <img class="dark-logo wow fadeIn" src="{{ asset('public/img/dark-logo.svg') }}" alt="Ольга Фандикова фронт-энд разработчик">
                </div>
                <a class="button icon-button mt-30 wow bounceIn" href="{{ asset('files/Olga-Fandikova-front-end-developer.pdf') }}" target="_blank">
                    <span class="icon-block"><i class="icon-download"></i></span>
                    Скачать резюме
                </a>
            </div>
        </div>
    </div>
</section>