<div id="contacts" class="drag-and-drop-container">
    <section class="section">
        <div class="container">
            <div class="text-center">
                <h2 class="heading wow tada">Контакты</h2>
                <p class="font-20 uppercase mt-25 mb-sm-80 mb-xs-50">Перетащи иконку в ноутбук</p>
            </div>
            <div class="icons-container">
                <div class="laptop">
                    <div class="droppable-container"></div>
                    <svg viewBox="0 0 536.4 288.1">
                        <path fill="#272624" d="M459.7,0H77.4c-5.3,0-9.6,4.3-9.6,9.6v254.7h401.5V9.6C469.3,4.3,465,0,459.7,0z"/>
                        <rect x="85.7" y="16.6" fill="#E2E2E2" width="366.2" height="235.3"/>
                        <polygon fill="#7B7F89" points="512.3,288.1 24.1,288.1 0,279.3 536.4,279.3"/>
                        <path fill="#6B6966" d="M269.9,9.9c0,0.9-0.8,1.7-1.7,1.7c-0.9,0-1.7-0.8-1.7-1.7c0-0.9,0.8-1.7,1.7-1.7C269.1,8.2,269.9,9,269.9,9.9z"/>
                        <rect x="224.6" y="264.3" fill="#979695" width="86.9" height="8.8"/>
                        <path fill="#C3CAD4" d="M304.6,264.3v3.2c0,2.2-1.8,4-4,4h-65c-2.2,0-4-1.8-4-4v-3.2H0v15h536.4v-15H304.6z"/>
                        <path fill="#979695" d="M320.7,128.6c0.2-1.3,0.4-2.6,0.4-4c0-12.6-10.2-22.8-22.8-22.8c-2.7,0-5.4,0.5-7.8,1.4 c-7.4-11.5-20.3-19.2-35.1-19.2c-23.1,0-41.7,18.7-41.7,41.7c0,1.1,0.1,2.1,0.2,3.2c-11.2,2.8-19.4,12.9-19.4,24.9 c0,14.2,11.5,25.7,25.7,25.7h96.3c14.2,0,25.7-11.5,25.7-25.7C342.1,141.2,332.8,130.7,320.7,128.6z"/>
                        <text transform="matrix(1 0 0 1 207.3863 203.1577)">Перетащи сюда</text>
                    </svg>
                </div>
                <div class="draggable-arrow"></div>
                <div class="social-icons">
                    <div class="social-icon google-plus" data-href="https://plus.google.com/u/0/113582233578191324139"></div>
                    <div class="social-icon vk" data-href="https://vk.com/id135284876"></div>
                    <div class="social-icon instagram" data-href="https://www.instagram.com/olkafandikova"></div>
                    <div class="social-icon skype" data-href="skype:olafan32?add"></div>
                    <div class="social-icon whatsapp" data-href="whatsapp:+79528066462"></div>
                    <div class="social-icon github" data-href="https://github.com/OlgaFandikova"></div>
                    <div class="social-icon codepen" data-href="https://codepen.io/OlgaFandikova"></div>
                    <div class="social-icon telegram" data-href="https://t.me/olafan"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="map-header">
    <div class="container">
        <i class="map-marker"></i> Найди меня на google map
    </div>
</div>
<div id="map" class="map" data-marker="{{ asset('public/img/map-marker.png') }}"></div>