<section id="education" class="section bg-white-f1">
    <div class="container">
        <div class="text-center">
            <h2 class="heading wow tada">{% trans %}education{% endtrans %}</h2>
            <p class="font-20 uppercase mt-25 mb-sm-80 mb-xs-50">{% trans %}education.subtitle{% endtrans %}</p>
        </div>
        <div class="pl-xs-15 pr-xs-15 p-sm-0">
            <div class="row mb-30">
                <div class="column md-5 sm-4 p-25 education-panel wow slideInLeft">
                    <h4>{% trans %}tpu{% endtrans %}</h4>
                    <p>Институт Кибернетики</p>
                    <div class="education-right-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
                <div class="column flex md-2 sm-4 p-0">
                    <div class="education-year wow bounceIn">2010 - 2015</div>
                </div>
                <div class="column md-5 sm-4 p-25 education-panel wow slideInRight">
                    <h4>Инженер</h4>
                    <p>Автоматизация технологических процессов и производств (в нефтегазовой отрасли)</p>
                    <div class="education-left-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
            </div>
            <div class="row mb-30">
                <div class="column md-5 sm-4 p-25 education-panel wow slideInLeft">
                    <h4>Школа</h4>
                    <p>Первомайская общеобразовательная школа</p>
                    <div class="education-right-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
                <div class="column flex md-2 sm-4 p-0">
                    <div class="education-year wow bounceIn">1999 - 2010</div>
                </div>
                <div class="column md-5 sm-4 p-25 education-panel wow slideInRight">
                    <h4>Аттестат с отличием</h4>
                    <p>Золотая медаль</p>
                    <div class="education-left-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
            </div>
            <div class="row mb-30">
                <div class="column md-5 sm-4 p-25 education-panel wow slideInLeft">
                    <h4>Музыкальная школа</h4>
                    <p>Первомайский дом культуры</p>
                    <div class="education-right-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
                <div class="column flex md-2 sm-4 p-0">
                    <div class="education-year wow bounceIn">2001 - 2008</div>
                </div>
                <div class="column md-5 sm-4 p-25 education-panel wow slideInRight">
                    <h4>Фортепиано</h4>
                    <p>Диплом с отличием</p>
                    <div class="education-left-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="column md-5 sm-4 p-25 education-panel wow slideInLeft">
                    <h4>Хореографическое отделение</h4>
                    <p>Первомайский дом культуры</p>
                    <div class="education-right-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
                <div class="column flex md-2 sm-4 p-0">
                    <div class="education-year wow bounceIn">2003 - 2008</div>
                </div>
                <div class="column md-5 sm-4 p-25 education-panel wow slideInRight">
                    <h4>Хореография</h4>
                    <p>Диплом с отличием</p>
                    <div class="education-left-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
            </div>
        </div>
    </div>
</section>