<section id="education" class="section bg-white-f1">
    <div class="container">
        <div class="text-center">
            <h2 class="heading wow tada">{% trans %}education{% endtrans %}</h2>
            <p class="font-20 uppercase mt-25 mb-sm-80 mb-xs-50">{% trans %}education_subtitle{% endtrans %}</p>
        </div>
        <div class="pl-xs-15 pr-xs-15 p-sm-0">
            <div class="row mb-30">
                <div class="column md-5 sm-4 p-25 education-panel wow slideInLeft">
                    <h4>{% trans %}tpu{% endtrans %}</h4>
                    <p>{% trans %}tpu_institute{% endtrans %}</p>
                    <div class="education-right-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
                <div class="column flex md-2 sm-4 p-0">
                    <div class="education-year wow bounceIn">2010 - 2015</div>
                </div>
                <div class="column md-5 sm-4 p-25 education-panel wow slideInRight">
                    <h4>{% trans %}engineer{% endtrans %}</h4>
                    <p>{% trans %}specialty{% endtrans %}</p>
                    <div class="education-left-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
            </div>
            <div class="row mb-30">
                <div class="column md-5 sm-4 p-25 education-panel wow slideInLeft">
                    <h4>{% trans %}school{% endtrans %}</h4>
                    <p>{% trans %}school_name{% endtrans %}</p>
                    <div class="education-right-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
                <div class="column flex md-2 sm-4 p-0">
                    <div class="education-year wow bounceIn">1999 - 2010</div>
                </div>
                <div class="column md-5 sm-4 p-25 education-panel wow slideInRight">
                    <h4>{% trans %}school_certificate{% endtrans %}</h4>
                    <p>{% trans %}school_medal{% endtrans %}</p>
                    <div class="education-left-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
            </div>
            <div class="row mb-30">
                <div class="column md-5 sm-4 p-25 education-panel wow slideInLeft">
                    <h4>{% trans %}music_school{% endtrans %}</h4>
                    <p>{% trans %}music_school_name{% endtrans %}</p>
                    <div class="education-right-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
                <div class="column flex md-2 sm-4 p-0">
                    <div class="education-year wow bounceIn">2001 - 2008</div>
                </div>
                <div class="column md-5 sm-4 p-25 education-panel wow slideInRight">
                    <h4>{% trans %}piano{% endtrans %}</h4>
                    <p>{% trans %}piano_certificate{% endtrans %}</p>
                    <div class="education-left-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="column md-5 sm-4 p-25 education-panel wow slideInLeft">
                    <h4>{% trans %}choreography_school{% endtrans %}</h4>
                    <p>{% trans %}choreography_school_name{% endtrans %}</p>
                    <div class="education-right-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
                <div class="column flex md-2 sm-4 p-0">
                    <div class="education-year wow bounceIn">2003 - 2008</div>
                </div>
                <div class="column md-5 sm-4 p-25 education-panel wow slideInRight">
                    <h4>{% trans %}choreography{% endtrans %}</h4>
                    <p>{% trans %}choreography_certificate{% endtrans %}</p>
                    <div class="education-left-circle"><span class="circle wow bounceIn" data-wow-delay="1s"></span></div>
                </div>
            </div>
        </div>
    </div>
</section>