<section class="section">
    <div class="container text-center">
        <h2 class="heading wow tada">Опыт работы</h2>
        <p class="font-20 uppercase mt-25 mb-80">Мои опыт работы в сфере веб - разработки</p>
        <div class="row">
            <div class="column md-6 text-right">
                <div class="timeline-details mr-30">
                    <div class="wow slideInLeft">
                        <p class="company-name">Qeep Pro</p>
                        <p class="work-position">front-end разработчик</p>
                        <p class="work-description">Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac.
                            Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Vestibulum
                            gravida nulla nec justo congue, vitae sodales massa ullamcorper.</p>
                    </div>
                    <div class="timeline wow bounceIn">
                        <div class="line top-line"></div>
                        <i class="icon-check-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
            <div class="column md-6 text-left">
                <div class="timeline-date ml-30 wow slideInRight">
                    <div class="timeline-date-arrow arrow-left"></div>
                    Сентябрь 2016 - до настоящего времени
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column md-6 text-right">
                <div class="timeline-date wow slideInLeft mr-30">
                    <div class="timeline-date-arrow arrow-right"></div>
                    Ноябрь 2015 - Сентябрь 2016
                </div>
            </div>
            <div class="column md-6 text-left">
                <div class="timeline-details ml-30">
                    <div class="wow slideInRight">
                        <p class="company-name">Lunacharsky group</p>
                        <p class="work-position">front-end разработчик</p>
                        <p class="work-description">Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac.
                            Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Vestibulum
                            gravida nulla nec justo congue, vitae sodales massa ullamcorper.</p>
                    </div>
                    <div class="timeline timeline-left wow bounceIn">
                        <div class="line top-line"></div>
                        <i class="icon-close-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>