<section id="experience" class="section">
    <div class="container text-center">
        <h2 class="heading wow tada">Опыт работы</h2>
        <p class="font-20 uppercase mt-25 mb-sm-80 mb-xs-50">Опыт — лучший учитель</p>
        <div class="row">
            <div class="column sm-6 text-right">
                <div class="timeline-date wow slideInLeft mr-sm-30">
                    <div class="timeline-date-arrow arrow-right"></div>
                    Май 2018 - по настоящее время
                </div>
            </div>
            <div class="column sm-6 text-left">
                <div class="timeline-details ml-sm-30">
                    <div class="wow slideInRight">
                        <p class="company-name">ReTech Labs</p>
                        <p class="work-position">front-end разработчик</p>
                        <p class="work-description">
                            Front-end разработка на Angular.
                            <br><br><br>
                        </p>
                    </div>
                    <div class="timeline timeline-left wow bounceIn xs-hide">
                        <div class="line top-line"></div>
                        <i class="icon-close-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column sm-6 text-right">
                <div class="timeline-details mr-sm-30">
                    <div class="wow slideInLeft">
                        <p class="company-name">Space-O Technologies</p>
                        <p class="work-position">front-end разработчик</p>
                        <p class="work-description">
                            Участие в проектах компании, разработка<br>front-end части web-приложений.
                            <br><br>
                        </p>
                    </div>
                    <div class="timeline wow bounceIn xs-hide">
                        <div class="line top-line"></div>
                        <i class="icon-close-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
            <div class="column sm-6 text-left">
                <div class="timeline-date ml-sm-30 mb-xs-40 mb-sm-0 wow slideInRight">
                    <div class="timeline-date-arrow arrow-left"></div>
                    Август 2017 - Май 2018
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column sm-6 text-right">
                <div class="timeline-date wow slideInLeft mr-sm-30">
                    <div class="timeline-date-arrow arrow-right"></div>
                    Май 2017 - Июль 2017
                </div>
            </div>
            <div class="column sm-6 text-left">
                <div class="timeline-details ml-sm-30">
                    <div class="wow slideInRight">
                        <p class="company-name">Zennex</p>
                        <p class="work-position">front-end разработчик</p>
                        <p class="work-description">
                            Разработка проекта на React + Redux.
                            <br><br><br>
                        </p>
                    </div>
                    <div class="timeline timeline-left wow bounceIn xs-hide">
                        <div class="line top-line"></div>
                        <i class="icon-close-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column sm-6 text-right">
                <div class="timeline-details mr-sm-30">
                    <div class="wow slideInLeft">
                        <p class="company-name">Qeep Pro</p>
                        <p class="work-position">front-end разработчик</p>
                        <p class="work-description">Участие в разработке системы QEEP-Pro, проектов на React JS,
                            мобильных приложений на React Native и др. Создание сайтов и
                            лендингов на основе собственного дизайна.</p>
                    </div>
                    <div class="timeline wow bounceIn xs-hide">
                        <div class="line top-line"></div>
                        <i class="icon-close-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
            <div class="column sm-6 text-left">
                <div class="timeline-date ml-sm-30 mb-xs-40 mb-sm-0 wow slideInRight">
                    <div class="timeline-date-arrow arrow-left"></div>
                    Сентябрь 2016 - Апрель 2017
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column sm-6 text-right">
                <div class="timeline-date wow slideInLeft mr-sm-30">
                    <div class="timeline-date-arrow arrow-right"></div>
                    Ноябрь 2015 - Сентябрь 2016
                </div>
            </div>
            <div class="column sm-6 text-left">
                <div class="timeline-details ml-sm-30">
                    <div class="wow slideInRight">
                        <p class="company-name">Lunacharsky group</p>
                        <p class="work-position">front-end разработчик</p>
                        <p class="work-description">
                            Участие в разработке проектов, основными из которых были МирКар и B2B МирКар.
                            Верстка по макетам, создание различных анимаций.
                        </p>
                    </div>
                    <div class="timeline timeline-left wow bounceIn xs-hide">
                        <div class="line top-line"></div>
                        <i class="icon-close-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>