<nav class="navbar navbar-scrolltofixed navbar-responsive">
    <div class="container clearfix">
        <div class="nav-head clearfix">
            <button class="toogle-nav icon-menu xs-show float-right"></button>
        </div>
        <div class="responsive-menu">
            <ul class="nav-menu float-right">
                <li><a href="">Главная</a></li>
                <li><a href="">Обо мне</a></li>
                <li><a href="">Навыки</a></li>
                <li><a href="">Опыт работы</a></li>
                <li><a href="">Образование</a></li>
                <li><a href="">Портфолио</a></li>
                <li><a href="">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>
