<section class="section">
    <div class="container">
        <div class="text-center">
            <h2 class="heading wow tada">Портфолио</h2>
            <p class="font-20 uppercase mt-25 mb-sm-80 mb-xs-50">Глаза боятся, а руки делают</p>
        </div>
    </div>
</section>