<section class="section bg-white-f1">
    <div class="container">
        <div class="text-center">
            <h2 class="heading wow tada">Навыки</h2>
            <p class="font-20 uppercase mt-25 mb-80">Мои навыки  в сфере web разработки</p>
        </div>
        <div class="row">
            <div class="column md-4">
                <div class="flex skill wow bounceInLeft">
                    <div class="column xs-6 skill-name">html</div>
                    <div class="column xs-6 skill-progress">
                        <div class="progress-circle left wow">
                            <div class="percent">85</div>
                            <svg class="circle-svg" viewBox="0 0 110 110">
                                <circle r="49.5" cx="55" cy="55" stroke="#eee" stroke-width="11"></circle>
                                <circle class="circle" r="49.5" cx="55" cy="55" stroke-width="11" stroke-dasharray="310.86" stroke-dashoffset="310.86" stroke-linecap="round"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column md-4">
                <div class="flex skill wow bounceIn">
                    <div class="column xs-6 skill-name">css</div>
                    <div class="column xs-6 skill-progress">
                        <div class="progress-circle center wow">
                            <div class="percent">85</div>
                            <svg class="circle-svg" viewBox="0 0 110 110">
                                <circle r="49.5" cx="55" cy="55" stroke="#eee" stroke-width="11"></circle>
                                <circle class="circle" r="49.5" cx="55" cy="55" stroke-width="11" stroke-dasharray="310.86" stroke-dashoffset="310.86" stroke-linecap="round"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column md-4">
                <div class="flex skill wow bounceInRight">
                    <div class="column xs-6 skill-name">javascript</div>
                    <div class="column xs-6 skill-progress">
                        <div class="progress-circle right wow">
                            <div class="percent">80</div>
                            <svg class="circle-svg" viewBox="0 0 110 110">
                                <circle r="49.5" cx="55" cy="55" stroke="#eee" stroke-width="11"></circle>
                                <circle class="circle" r="49.5" cx="55" cy="55" stroke-width="11" stroke-dasharray="310.86" stroke-dashoffset="310.86" stroke-linecap="round"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>