<section id="experience" class="section">
    <div class="container text-center">
        <h2 class="heading wow tada">{% trans %}experience{% endtrans %}</h2>
        <p class="font-20 uppercase mt-25 mb-sm-80 mb-xs-50">{% trans %}experience_subtitle{% endtrans %}</p>
        <div class="row">
            <div class="column sm-6 text-right">
                <div class="timeline-date wow slideInLeft mr-sm-30">
                    <div class="timeline-date-arrow arrow-right"></div>
                    {% trans %}may{% endtrans %} 2018 - {% trans %}until_now{% endtrans %}
                </div>
            </div>
            <div class="column sm-6 text-left">
                <div class="timeline-details ml-sm-30">
                    <div class="wow slideInRight">
                        <a href="http://retechlabs.com" class="company-name" target="_blank">ReTech Labs</a>
                        <p class="work-position">{% trans %}job{% endtrans %}</p>
                        <p class="work-description">
                            {% trans %}retech_labs_description{% endtrans %}
                            <br><br><br>
                        </p>
                    </div>
                    <div class="timeline timeline-left wow bounceIn xs-hide">
                        <div class="line top-line"></div>
                        <i class="icon-close-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column sm-6 text-right">
                <div class="timeline-details mr-sm-30">
                    <div class="wow slideInLeft">
                        <a href="https://www.spaceotechnologies.com" class="company-name" target="_blank">Space-O Technologies</a>
                        <p class="work-position">{% trans %}job{% endtrans %}</p>
                        <p class="work-description">
                            {% trans %}space_o_description_p1{% endtrans %}<br>
                            {% trans %}space_o_description_p2{% endtrans %}
                            <br><br>
                        </p>
                    </div>
                    <div class="timeline wow bounceIn xs-hide">
                        <div class="line top-line"></div>
                        <i class="icon-close-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
            <div class="column sm-6 text-left">
                <div class="timeline-date ml-sm-30 mb-xs-40 mb-sm-0 wow slideInRight">
                    <div class="timeline-date-arrow arrow-left"></div>
                    {% trans %}august{% endtrans %} 2017 - {% trans %}may{% endtrans %} 2018
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column sm-6 text-right">
                <div class="timeline-date wow slideInLeft mr-sm-30">
                    <div class="timeline-date-arrow arrow-right"></div>
                    {% trans %}may{% endtrans %} 2017 - {% trans %}july{% endtrans %} 2017
                </div>
            </div>
            <div class="column sm-6 text-left">
                <div class="timeline-details ml-sm-30">
                    <div class="wow slideInRight">
                        <a href="http://zennex.ru" class="company-name" target="_blank">Zennex</a>
                        <p class="work-position">{% trans %}job{% endtrans %}</p>
                        <p class="work-description">
                            {% trans %}zennex_description{% endtrans %}
                            <br><br><br>
                        </p>
                    </div>
                    <div class="timeline timeline-left wow bounceIn xs-hide">
                        <div class="line top-line"></div>
                        <i class="icon-close-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column sm-6 text-right">
                <div class="timeline-details mr-sm-30">
                    <div class="wow slideInLeft">
                        <a href="https://qeep.pro" class="company-name" target="_blank">Qeep Pro</a>
                        <p class="work-position">{% trans %}job{% endtrans %}</p>
                        <p class="work-description">
                            {% trans %}qeep_pro_description{% endtrans %}
                        </p>
                    </div>
                    <div class="timeline wow bounceIn xs-hide">
                        <div class="line top-line"></div>
                        <i class="icon-close-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
            <div class="column sm-6 text-left">
                <div class="timeline-date ml-sm-30 mb-xs-40 mb-sm-0 wow slideInRight">
                    <div class="timeline-date-arrow arrow-left"></div>
                    {% trans %}september{% endtrans %} 2016 - {% trans %}april{% endtrans %} 2017
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column sm-6 text-right">
                <div class="timeline-date wow slideInLeft mr-sm-30">
                    <div class="timeline-date-arrow arrow-right"></div>
                    {% trans %}november{% endtrans %} 2015 - {% trans %}september{% endtrans %} 2016
                </div>
            </div>
            <div class="column sm-6 text-left">
                <div class="timeline-details ml-sm-30">
                    <div class="wow slideInRight">
                        <p class="company-name">Lunacharsky group</p>
                        <p class="work-position">{% trans %}job{% endtrans %}</p>
                        <p class="work-description">
                            {% trans %}lunacharsky_group_description{% endtrans %}
                        </p>
                    </div>
                    <div class="timeline timeline-left wow bounceIn xs-hide">
                        <div class="line top-line"></div>
                        <i class="icon-close-arrow"></i>
                        <div class="line bottom-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>