<section id="skills" class="section skills-bg" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="text-center">
            <h2 class="heading wow tada">{% trans %}skills{% endtrans %}</h2>
            <p class="font-20 uppercase mt-25 mb-80">{% trans %}skills_subtitle{% endtrans %}</p>
        </div>
        <div class="row">
            <div class="column md-4">
                <div class="flex skill wow bounceInLeft">
                    <div class="column xs-6 skill-name">html</div>
                    <div class="column xs-6 skill-progress">
                        <div class="progress-circle left wow">
                            <div class="percent">87</div>
                            <svg class="circle-svg" viewBox="0 0 110 110">
                                <circle r="49.5" cx="55" cy="55" stroke="#eee" stroke-width="11"></circle>
                                <circle class="circle" r="49.5" cx="55" cy="55" stroke-width="11" stroke-dasharray="310.86" stroke-dashoffset="310.86" stroke-linecap="round"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column md-4">
                <div class="flex skill wow bounceIn">
                    <div class="column xs-6 skill-name">css</div>
                    <div class="column xs-6 skill-progress">
                        <div class="progress-circle center wow">
                            <div class="percent">92</div>
                            <svg class="circle-svg" viewBox="0 0 110 110">
                                <circle r="49.5" cx="55" cy="55" stroke="#eee" stroke-width="11"></circle>
                                <circle class="circle" r="49.5" cx="55" cy="55" stroke-width="11" stroke-dasharray="310.86" stroke-dashoffset="310.86" stroke-linecap="round"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column md-4">
                <div class="flex skill wow bounceInRight">
                    <div class="column xs-6 skill-name">javascript</div>
                    <div class="column xs-6 skill-progress">
                        <div class="progress-circle right wow">
                            <div class="percent">81</div>
                            <svg class="circle-svg" viewBox="0 0 110 110">
                                <circle r="49.5" cx="55" cy="55" stroke="#eee" stroke-width="11"></circle>
                                <circle class="circle" r="49.5" cx="55" cy="55" stroke-width="11" stroke-dasharray="310.86" stroke-dashoffset="310.86" stroke-linecap="round"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="tag-list skills-list">
            <li class="tag primary">#ECMAScript6</li>
            <li class="tag primary">#TypeScript</li>
            <li class="tag primary">#jQuery</li>
            <li class="tag primary">#Angular</li>
            <li class="tag primary">#AngularJS</li>
            <li class="tag primary">#ReactJS</li>
            <li class="tag primary">#ReactNative</li>
            <li class="tag primary">#Redux</li>
            <li class="tag primary">#LESS</li>
            <li class="tag primary">#SCSS</li>
            <li class="tag primary">#Stylus</li>
            <li class="tag primary">#PostCSS</li>
            <li class="tag primary">#Bootstrap</li>
            <li class="tag primary">#Foundation</li>
            <li class="tag primary">#WordPress</li>
            <li class="tag primary">#Gulp</li>
            <li class="tag primary">#Webpack</li>
            <li class="tag primary">#Twig</li>
            <li class="tag primary">#Git</li>
            <li class="tag primary">#Svg animation</li>
            <li class="tag primary">#{% trans %}adaptive_layout{% endtrans %}</li>
            <li class="tag primary">#{% trans %}crossbrowser_layout{% endtrans %}</li>
        </ul>
    </div>
</section>