<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="column md-4">
                <ul class="footer-list">
                    <li><a href="">olafan92@gmail.com</a></li>
                    <li><a href="">OlgaFandikova.ru</a></li>
                </ul>
            </div>
            <div class="column md-4">
                <ul class="footer-list border-list footer-nav">
                    <li><a href="#home">Главная</a></li>
                    <li><a href="#about">Обо мне</a></li>
                    <li><a href="#education">Образование</a></li>
                    <li><a href="#skills">Навыки</a></li>
                </ul>
            </div>
            <div class="column md-4">
                <ul class="footer-list border-list footer-nav">
                    <li><a href="#experience">Опыт работы</a></li>
                    <li><a href="#portfolio">Портфолио</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        &copy; 2017 Olga Fandikova
    </div>
</div>