<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="column md-3">
                <img src="{{ asset('public/img/logo.svg') }}" class="footer-logo" alt="Ольга Фандикова фронт-энд разработчик">
            </div>
            <div class="column md-3">
                <ul class="footer-list ml-lg-35 ml-md-20">
                    <li>
                        <a href="http://fandikova.ru">
                            <i class="globe-icon"></i>
                            fandikova.ru
                        </a>
                    </li>
                    <li>
                        <a href="mailto:olafan92@gmail.com">
                            <i class="mail-icon"></i>
                            olafan92@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="https://vk.com/olgafandikova">
                            <i class="vk-icon"></i>
                            vk.com/olgafandikova
                        </a>
                    </li>
                </ul>
            </div>
            <div class="column md-3">
                <ul class="footer-list border-list footer-nav">
                    <li><a href="#about">Обо мне</a></li>
                    <li><a href="#education">Образование</a></li>
                    <li><a href="#skills">Навыки</a></li>
                </ul>
            </div>
            <div class="column md-3">
                <ul class="footer-list border-list footer-nav">
                    <li><a href="#experience">Опыт работы</a></li>
                    <li><a href="#portfolio">Портфолио</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        &copy; {{ 'now' | date('Y') }} Ольга Фандикова
    </div>
</div>
<button class="scroll-top-button"><i class="icon-top-arrow"></i></button>