<div class="loader">
    <div class="loader-overlay"></div>
    <div class="loader-cogs">
        <div class="loader-cogs-top">
            <div class="top-part"></div>
            <div class="top-part"></div>
            <div class="top-part"></div>
            <div class="top-hole"></div>
        </div>
        <div class="loader-cogs-left">
            <div class="left-part"></div>
            <div class="left-part"></div>
            <div class="left-part"></div>
            <div class="left-hole"></div>
        </div>
        <div class="loader-cogs-bottom">
            <div class="bottom-part"></div>
            <div class="bottom-part"></div>
            <div class="bottom-part"></div>
            <div class="bottom-hole"></div>
        </div>
        {#<p>Загрузка</p>#}
    </div>
</div>