<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="column md-3">
                <img src="{{ asset('img/logo.svg') }}" class="footer-logo" alt="{% trans %}name{% endtrans %} {% trans %}job{% endtrans %}">
            </div>
            <div class="column md-3">
                <ul class="footer-list ml-lg-35 ml-md-20">
                    <li>
                        <a href="mailto:olafan92@gmail.com">
                            <i class="mail-icon"></i>
                            olafan92@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="https://vk.com/olgafandikova" target="_blank">
                            <i class="vk-icon"></i>
                            vk.com/olgafandikova
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/olkasmovzh" target="_blank">
                            <i class="insta-icon"></i>
                            vk.com/olgafandikova
                        </a>
                    </li>
                </ul>
            </div>
            <div class="column md-3">
                <ul class="footer-list border-list footer-nav">
                    <li><a href="#about">{% trans %}about{% endtrans %}</a></li>
                    <li><a href="#education">{% trans %}education{% endtrans %}</a></li>
                    <li><a href="#skills">{% trans %}skills{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="column md-3">
                <ul class="footer-list border-list footer-nav">
                    <li><a href="#experience">{% trans %}experience{% endtrans %}</a></li>
                    <li><a href="#portfolio">{% trans %}portfolio{% endtrans %}</a></li>
                    <li><a href="#contacts">{% trans %}contact{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        &copy; {{ 'now' | date('Y') }} {% trans %}name{% endtrans %}
    </div>
</div>
<button class="scroll-top-button"><i class="icon-top-arrow"></i></button>
