<nav class="navbar navbar-scrolltofixed navbar-responsive">
    <div class="container clearfix">
        <div class="nav-head clearfix">
            <div class="float-left">
                <img class="logo" src="{{ asset('img/logo.svg') }}" alt="{% trans %}name{% endtrans %} {% trans %}job{% endtrans %}">
            </div>
            <button class="toogle-nav icon-menu xs-show float-right"></button>
        </div>
        <div class="responsive-menu">
            <ul class="nav-menu float-right">
                <li><a href="#about">{% trans %}about{% endtrans %}</a></li>
                <li><a href="#education">{% trans %}education{% endtrans %}</a></li>
                <li><a href="#skills">{% trans %}skills{% endtrans %}</a></li>
                <li><a href="#experience">{% trans %}experience{% endtrans %}</a></li>
                <li><a href="#portfolio">{% trans %}portfolio{% endtrans %}</a></li>
                <li><a href="#contacts">{% trans %}contact{% endtrans %}</a></li>
            </ul>
        </div>
    </div>
</nav>
